*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{   
    font-family: Poppins, sans-serif;
    background:url('images/bg-desktop.svg') 0 0 / cover no-repeat, hsl(257, 40%, 49%) ;
    width:100vw;
    height:100vh;
}
.content-wrapper
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width:100%;
}
.logo-wrapper
{
    padding: 2% 4%;
}
.main-content
{
   display:flex;
   padding:4%;
   max-width:1600px;
   margin:0 auto;
}
.image-wrapper
{
    width:50%;
    min-width:500px;

}
.image-main
{
    width:100%;
}
.description-wrapper
{
    width:50%;
    display:flex;
    color:white;
    flex-direction: column;
    text-align: left;
    margin:3%;
    padding:0;
}
.description-title
{   
    font-size:2.5rem;
    font-weight: 600;
    padding-bottom:2%;
}
.description
{
    font-size:1.2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    
    padding-bottom: 2rem;
}
.description-btn
{
    font-size:1.2rem;
    width:12rem;
    padding:1rem;
    border-radius:2rem;
    box-shadow: .1rem .3rem .4rem black;
    color: hsl(257, 40%, 49%);
}
footer
{
    
    display:flex;
    color:grey;
    justify-content: flex-end;
    margin: 4% 8%;
    align-items: center;
}
.attribution
{
    color:aliceblue;
    margin:0 auto;
    
}
.attribution > a
{
    text-decoration: none;
    color:aliceblue;
}
.social-items
{

    list-style: none;
    color:hsl(257, 40%, 49%);
    display:flex;
    
}
.social-item
{
    display:inline;
    padding: 0 5%;
}

.fa-twitter,
.fa-instagram,
.fa-facebook
{
    color:white;
    border:.1rem solid white;
    border-radius: 50%;
    padding:.6rem;
    outline:none;

}
.social-link
{
    text-decoration: none;
    font-size:1.8rem;
    
}
.social-item:hover .fab
{
    color:hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    background-color: hsl(257, 40%, 49%);
}
.description-btn:hover
{
    color:white;
    background-color:hsl(300, 69%, 71%);
    cursor:pointer;
}

@media(max-width:850px)
{   
    .logo
    {
       width:35%;
    }
    .main-content
    {
        align-items: center;
        flex-direction:column;
    }
    .image-wrapper
    {
    
        max-width:400px;
    }
    .image-main
    {
       width:100%;
    }
    .description-title
    {
        font-size:1.9rem;
    }
    .description
    {
        font-size:1.2rem;
    }
    .description-wrapper
    {
        text-align: center;
    }
    .description-btn
    {
        margin: 0 auto;
        width:80%;
    }
    footer
    {
        flex-direction: column;
    }
    .social-items
    {
        padding:0;
        justify-content: center;
    }
    .attribution
    {
        margin:2rem;
        order:2;
    }
}
@media(max-width:536px)
{
    .image-wrapper{
        min-width:300px;
    }
    .description-title
    {
        font-size:1.8rem;
    }
    .description
    {
        font-size:1rem;
    }
    .description-btn
    {
        font-size:1rem;

    }
    .attribution
    {
        text-align: center;
    }
}